@import url('https://fonts.googleapis.com/css?family=Mukta:700');

@tailwind base;
@tailwind components;
@tailwind utilities;




/* Button Animation in Home Page */
/* Source: https://codepen.io/kathykato/pen/rZRaNe */
 /* * {
	 box-sizing: border-box;
}
 *::before, *::after {
	 box-sizing: border-box;
} */

 *{
  /* border: none !important; */
 }
/* 
 .swiper-buttond-next-test {
  background-image: url("../assets/brian.jpg") !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  border: none !important;
  border-radius: 0 !important;
  width: 100% !important;
  height: 100% !important;
  transition: all 0.3s ease-in-out 0s !important;
  outline: none !important;
  cursor: pointer !important;
  visibility: visible !important;
  transform: none !important;
  opacity: 1 !important;
  z-index: 1 !important;
  position: relative !important;
  display: block !important;
  margin: 0 !important;
  padding: 0 !important;
  max-height: none !important;
  min-height: 0 !important;
  max-width: none !important;
  min-width: 0 !important;
  list-style-image: none !important;
  list-style-type: none !important;
  list-style-position: outside !important;
  border-collapse: separate !important;




} */

/* If you want to REPLACE the arrow with an image, SOURCE: https://www.timo-ernst.net/blog/2020/09/12/arrows-in-react-swiper-js-how-to-customize-prev-next-button/ */
 .initialize-swiper-button-next{
  color: rgb(255, 255, 255) !important;
  right: -30px !important;
  transition: .5s;
 }
 .initialize-swiper-button-prev{
  color: rgb(255, 255, 255) !important;
  left: -30px !important;
  transition: .5s;
 }

.hover-swiper-button-next {
  /* animation-name: hover-swiper;
  animation-duration: 1s; */
  right: 10px!important;
  
}
.hover-swiper-button-prev{

  left: 10px!important;
}




 button.learn-more {
    position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
	 width: 12rem;
	 height: auto;
}
 button.learn-more .circle {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 position: relative;
	 display: block;
	 margin: 0;
	 width: 3rem;
	 height: 3rem;
	 background: #282936;
	 border-radius: 1.625rem;
}
 button.learn-more .circle .icon {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 position: absolute;
	 top: 0;
	 bottom: 0;
	 margin: auto;
	 background: #fff;
}
 button.learn-more .circle .icon.arrow {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 left: 0.625rem;
	 width: 1.125rem;
	 height: 0.125rem;
	 background: none;
}
 button.learn-more .circle .icon.arrow::before {
	 position: absolute;
	 content: '';
	 top: -0.25rem;
	 right: 0.0625rem;
	 width: 0.625rem;
	 height: 0.625rem;
	 border-top: 0.125rem solid #fff;
	 border-right: 0.125rem solid #fff;
	 transform: rotate(45deg);
}
 button.learn-more .button-text {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 position: absolute;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 padding: 0.75rem 0;
	 margin: 0 0 0 1.85rem;
	 color: #282936;
	 font-weight: 700;
	 line-height: 1.6;
	 text-align: center;
	 text-transform: uppercase;
}
 button.learn-more:hover .circle {
	 width: 100%;
}
 button.learn-more:hover .circle .icon.arrow {
	 background: #fff;
	 transform: translate(1rem, 0);
}
 button.learn-more:hover .button-text {
	 color: #fff;
}

.text-overflow-center {
  margin-left: -100%;
  margin-right: -100%;
  text-align: center;
}




/* ANIMATED CLOSE BUTTON */
/* SOURCE:  https://csslab.app/buttons/animated-close-button*/

.close-button {
  overflow: hidden;
  position: relative;
  /* padding: .75rem 1rem; */
  border-radius: 4px;
  transition: all 0.15s ease-out;
  cursor: pointer;
}

.close-button > .text {
  padding-right: 1.5em;
  display: block;
  position: relative;
  text-transform: uppercase;
  padding: .5em 1em;
  transition: all 0.15s ease-out;
  font-weight: 700;
  border-right: 2px solid rgba(255,255,255,.1);
  letter-spacing: 1px;
  margin-right: 3em;
  font-size: 13px;
}

.close-button .cross::after, .close-button .cross::before {
  display: block;
  background-color: black;
  margin-left: auto;
  width: 1em;
  left: 0;
  height: .2em;
  position: absolute;
  transition: all 0.15s ease-out;
  content: "";
  right: 0;
  margin-right: auto;
}

.close-button .cross::after {
  transform: rotate(90deg);
}

.close-button .cross {
  margin-top: -2px;
  
}

.close-button .cross::before {
  transform: rotate(0deg);
}



.close-button > .icons {
  display: flex;
  width: 3em;
  height: 100%;
  position: absolute;
  flex-direction: column;
  top: 0;
  transition: all 0.15s ease-out;
  align-items: center;
  right: 0;
  justify-content: center;
}

.close-button:hover .text {
  transform: translateX(calc(-100% - 3em));
}

.close-button:hover .icons {
  width: 100%;
  transform: scale(1.3);
}
/*^^^ ANIMATED CLOSE BUTTON  ^^^*/




:root{
--test2: red;
--main: orange;
--md: 768px
--bs-accordion-active-color: white;
font-family: "Open Sans", sans-serif;

}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.quoteAccordion:not(.collapsed) {
  color: black!important; 
  background-color: white!important;
}
.quoteAccordion:focus{
  z-index: 0;
  border-color: white!important;
  outline: 0;
  box-shadow: white!important;
}
#cta {
  background-image: url('../assets/bg-simplify-section-desktop.svg');
  background-repeat: no-repeat;
}


@keyframes slideInLeft {
  0% {
    transform: translateX(-25%);
    -webkit-transform: translateX(-25%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0%);
    opacity: 100%;
  }
}
#nav-animation {
  animation: 1s ease-out 0s 1 slideInLeft;
}
#nav-animation * {
  border-radius: 5px;
}


@keyframes appear{
  0%{
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
  
}




#firstImage{
  animation: 2s ease-out 0s appear;

}
#quoteForm{
  /* background:red; */
  box-shadow: 0 0 5px black
}

@keyframes navExpand {
  0%{
    background: none;
  }
  100% {
    background: red;
  }
  
}

  
/* img, .animate{
transition: transform 1s;

}
img:hover, .animate:hover{
  transform: scale(1.05);
} */

body::before {
  display: block;
  content: '';
  height: 60px;
}
#map{

  width: 100%; height: 300px;
}
/* #page{
  height:100vh;
} */

.navigation {
  background: white;
  padding-bottom: 200px;
}






/* CAROUSEL CSS */
.carousel{
  max-height: 60vh;
  overflow: hidden; 
  position:relative;
}
.carousel img{
  max-height: 60vh;
  width: 100%;

}

#terms{
  text-decoration: none;
}



/* Medium-2xl Breakpoint */

@media(min-width: 768px) {
  .news-input {
    width: 50%;
  }
  .windowModal{
    top: 10vh;
    /* margin-top: 20vh;  */
  }
}
.appear {
  animation-name: windowView;
  animation-duration: .5s;
  animation-timing-function: ease-out;
}
@keyframes windowView {
  from {top:0}
  to {top:5rem}
}
/* Small-Medium Breakpoint */
@media(max-width:768px){
  .mast-head{
    min-height: 30vh;
  }
  .mast-head h1{
      font-size: calc(1.2rem + 3.3vw);
  }
  .carousel, .carousel img{
    max-height: 40vh;
    min-height: 40vh;
  }
  .windowModal{
    
  }
}
@media(min-width: 992px){
  #quote-link{
    background: red;
    border-radius: .5rem; 
  }
  
}

/* Quote Page */
.selected {
  box-shadow: inset 0 0 8px 2px rgb(208, 250, 0);
}


/* .swiper-button-next:hover {
  transform: translate(200%);
} */

.home {
	
	font-size:  clamp(1.25rem, 2vw + 0.5rem, 2.25rem);
	font-style: normal;
	font-variant: normal;
	font-weight: 900;
	letter-spacing: normal;
	line-height: 41.86px;

	background-color: rgba(0, 0, 0, 0.33);
	color: rgb(250, 250, 250);

	padding: 3px 9px;


}

.home-right-button-hover{
  animation: appear .5s ;
  transition: transform opacity ease ;
  display: absolute;
  
}
.home-right-button{
  display: none ; 
  transform: translateX(-200%);
}




@keyframes appear {
  0% {
      opacity: 0 !important;
      transform: translateX(-200%);
      /* transform: translateX(-calc(10vw));  */
  }

  100% {
      opacity: 1 !important;
      transform: translateX(0) ;
  }
}


.home-carousel-button {
	/* Font & Text */
	
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	letter-spacing: normal;
	line-height: 20px;
	text-decoration: none solid rgb(255, 255, 255);
	text-align: center;
	text-indent: 0px;
	text-transform: none;
	vertical-align: middle;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgb(238, 136, 43);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(255, 255, 255);

	/* Box */
	
	
	border: 1.25px solid rgb(239, 117, 5);
	border-top: 1.25px solid rgb(239, 117, 5);
	border-right: 1.25px solid rgb(239, 117, 5);
	border-bottom: 1.25px solid rgb(239, 117, 5);
	border-left: 1.25px solid rgb(239, 117, 5);
	padding: 7px 12px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;


	/* List */
	list-style-image: none;
	list-style-type: none;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: pointer;
	visibility: visible;

	/* Effects */
	transform: none;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;

}

hr {

	
	text-decoration: none solid rgb(117, 117, 117);


	/* Color & Background */
	background-attachment: scroll;
	background-color: #133ABB;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(117, 117, 117);

	/* Box */
	height: 2.98828px;
	width: 38.9844px;
	border: 0px none rgb(117, 117, 117);
	border-top: 0px none rgb(117, 117, 117);
	border-right: 0px none rgb(117, 117, 117);
	border-bottom: 0px none rgb(117, 117, 117);
	border-left: 0px none rgb(117, 117, 117);
	margin: 20px 0px 20px 0px;
}

.contactUs {

	width: 1055px;
	min-width: 0px;

}


.fade-right {
  animation: faderight .5s;
  opacity: 1 !important;
}

@keyframes faderight {
  0% {
      opacity: 0;
      transform: translateX(calc(10vw));
  }

  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

.about-title {
	
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 20px;
	text-decoration: none solid rgb(250, 250, 250);
	text-align: center;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;
  height: 30vh;
	/* Color & Background */
	background-attachment: scroll;
	background-image: none;
	background-position: 50% 50%;
	background-repeat: repeat;
	color: rgb(250, 250, 250);

}

.about-title-header {
	/* Font & Text */
	
	font-size: clamp(1.5rem, 2vw + 1rem, 2.25rem);
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	letter-spacing: normal;
	line-height: 27.5px;
	text-decoration: none solid rgb(250, 250, 250);
	text-align: center;
	text-indent: 0px;
	text-transform: uppercase;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0.33);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(250, 250, 250);

	padding: clamp(0.25rem, 1vw, 0.563rem) 13.5px;


}


.about-title p {
	/* Font & Text */
	
	font-size: clamp(0.813rem, 2vw, 1rem);
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	letter-spacing: normal;
	line-height: 23px;
	text-decoration: none solid rgb(250, 250, 250);
	text-align: center;
	text-indent: 0px;
	text-transform: uppercase;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;
  background-color: rgba(0, 0, 0, 0.33);
	/* Color & Background */
	background-attachment: scroll;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(250, 250, 250);

  padding: 3px 9px;

}


@keyframes animatedBackground {
  from {
    background-size: 105%;
  }
  to {
    
    background-size: 100%;
  }
}
#animate-area {
  /* width: 200px;
  height: 200px; */
  /* background-image: url(http://placekitten.com/400/200); */
  background-position: center;
  background-repeat: repeat-x;
  background-size: 100%;
   animation: animatedBackground 6s  /* infinite alternate*/; 
}